#entry-card {
  width: 80%;
  height: 512px
}

.text-field {
  width: 100%;
}

.errorMsg {
  font-size: 8pt;
  color: red;
}


mat-figure {
  padding: 6px
}

.text-edit-btn {
  height: 24px !important;
}


mat-icon {
  border: 1px solid black;
  border-radius: 3px;
}


.background {
  width: 100%;
  height: calc(100% - 64px);
  background-color: rgba(200, 200, 200, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}
